#root {
  margin: 0 auto;
}

h1 {
  color: black;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu-item {
  margin: 0 0.8rem;
}

.menu-item a {
  text-decoration: none;
  font-weight: 400;
  color: var(--dark-gray-color);
}

.menu-item a:hover {
  color: rgb(167, 167, 167);
}

.cart {
  font-size: 1.5rem;
}

.slider {
  height: 550px;
  overflow: hidden;
}

.slider-items {
  display: flex;
  width: 300%;
  animation: slide 15s infinite linear;
}

.slider-item {
  width: 100%;
  list-style: none;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  45% {
    margin-left: 0;
  }

  50% {
    margin-left: -100%;
  }

  70% {
    margin-left: -100%;
  }

  75% {
    margin-left: -200%;
  }

  100% {
    margin-left: -200%;
  }
}

.products {
  text-align: center;
  padding-top: 3rem;
}

.products-title {
  color: var(--dark-gray-color);
  margin-bottom: 2rem;
}

.products-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card {
  background-color: #fff;
  width: calc(1280px / 5 - 0.4rem);
  text-align: left;
  height: 475px;
}

.card-img {
  height: 80%;
  overflow: hidden;
}

.card-info {
  padding: 0.5rem;
}

.card-title {
  font-size: 1rem;
  color: var(--dark-gray-color);
}

.card-author {
  font-size: 0.8rem;
  color: var(--light-gray-color);
  margin: 0.5rem 0;
}

.card-price {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(134, 0, 243);
}
