:root {
  --dark-gray-color: rgb(34, 34, 34);
  --light-gray-color: rgb(112, 112, 112);
  --very-light-gray-color: rgb(241, 241, 241);
  --main-font-color: rgb(134, 0, 243);
  --body-bg-color: rgb(243, 235, 253);
  --success-color: rgb(25, 135, 84);
  --error-color: rgb(220, 53, 69);
  --header-height: 4.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-padding-top: var(--header-height);
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--body-bg-color);
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: black;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
}

.header {
  height: var(--header-height);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  color: var(--main-font-color);
  margin-right: 0.5rem;
}

.btn-menu {
  position: relative;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.btn-menu span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  transition: background-color 0.5s ease-in-out;
}

.btn-menu span::before,
.btn-menu span::after {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000;
    transition: transform 0.5s;
}

.btn-menu span::after {
  top: auto;
  bottom: 0.45rem;
}

.btn-menu.active > span {
  background-color: transparent;
}

.btn-menu.active > span::before {
  transform: rotate(45deg) translate(6px, 5px);
}

.btn-menu.active > span::after {
  transform: rotate(-45deg) translate(6px, -5px);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 8;
}


@media screen and (max-width: 48em) {

}

@media screen and (max-width: 34em) {
  .btn-menu {
    display: block;
  }

  .backdrop.active {
    display: block;
  }
}

.section {
  text-align: center;
  padding-top: 3rem;
}

.section-title {
  display: inline-block;
  padding: 0.2rem;
  font-size: 2rem;
  color: var(--dark-gray-color);
  margin-bottom: 3rem;
  border-top: 2px solid var(--main-font-color);
  border-bottom: 2px solid var(--main-font-color);
}

.products-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.blog {
  background-color: #fff;
}

.section .container {
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

#blog .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 18rem;
}

.footer {
  padding-top: 10rem;
  height: 400px;
}