:root {
  --dark-gray-color: rgb(34, 34, 34);
  --light-gray-color: rgb(112, 112, 112);
  --very-light-gray-color: rgb(241, 241, 241);
  --main-font-color: rgb(134, 0, 243);
  --main-color-hover: rgb(122, 0, 223);
  --body-bg-color: rgb(243, 235, 253);
  --success-color: rgb(25, 135, 84);
  --danger-color: rgb(220, 53, 69);
  --row-bg-color: rgb(33, 37, 41);
  --row-bg-color-hover: rgb(50, 53, 57);
  --danger-color-hover: rgb(187, 45, 59);
  --header-height: 4.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-padding-top: var(--header-height);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--body-bg-color);
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: black;
}